<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.setlistmanager">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name="setlistmanager.setlist.SetlistsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="setlistmanager.setlist.AddEditSetlistActivity" />
        <activity android:name="setlistmanager.song.SongsActivity" />
        <activity android:name="setlistmanager.song.AddEditSongActivity" />
        <activity android:name="setlistmanager.setlist.SetlistSongsActivity" />
        <activity android:name="setlistmanager.setlist.AddSongsToSetlistActivity" />
        <activity android:name="setlistmanager.screenslide.ScreenSlideActivity" />

    </application>

</manifest>